@media (max-width: 1200px) {
    .sidebar {
        background-color: white;
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        width: 72px;
        z-index: 200;
        padding-top: 5px;
        cursor: pointer;
    }
    
    .sidebar-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 74px;
        flex-direction: column;
    }
    .sidebar-link:hover {
        background-color: rgb(231, 231, 231);
    }
    
    .sidebar-link img {
        height: 24px;
        margin-bottom: 4px;
    }
    .sidebar-link div {
        font-size: 10px;
    }
}

@media (min-width: 1200.1px) {
    .sidebar {
        background-color: white;
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        width: 250px;
        z-index: 200;
        padding-top: 5px;
        cursor: pointer;
    }
    
    .sidebar-link {
        display: flex;
        align-items: center;
        height: 50px;
        flex-direction: row;
        margin-left: 20px;
    }
    .sidebar-link img {
        margin-right: 20px;
    }
    .sidebar-link:hover {
        background-color: rgb(231, 231, 231);
    }
    
    .sidebar-link img {
        height: 24px;
        margin-bottom: 4px;
    }
    .sidebar-link div {
        font-size: 14px;
    }

}